{
  globals: {
    // Google Apps Script
    HtmlService: true,
    Logger: true,
    PropertiesService: true,
    SpreadsheetApp: true,
    UrlFetchApp: true,

    // External Libraries
    GasTap: true,
    SlackApp: true,

    // Our globals
    SlackBot: true,
    TestCommon: true,
    create: true,
    testRunner: true,
  },
  extends: 'airbnb-es5',
}
